<aside class="site-main__sidebar col-sm-4">
	<div class="site-main__sidebar--widget panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">About Vivid</h3>
		</div>
		<div class="panel-body">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam saepe suscipit expedita, ut sed voluptates! Natus quo odit nemo vel provident accusantium dolorem suscipit officia ratione quos. Itaque, ipsam, hic!</p>
		</div>
	</div>
	<div class="site-main__sidebar--widget panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Simple List</h3>
		</div>
		<div class="panel-body">
			<ul>
				<li>Lorem ipsum dolor sit amet.</li>
				<li>Lorem ipsum dolor sit amet, consectetur.</li>
				<li>Lorem ipsum dolor.</li>
				<li>Lorem ipsum dolor sit amet.</li>
				<li>Lorem ipsum dolor sit amet.</li>
			</ul>
		</div>
	</div>
	<div class="site-main__sidebar--widget panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Just Another Widet</h3>
		</div>
		<div class="panel-body">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam saepe suscipit expedita, ut sed voluptates! Natus quo odit nemo vel provident accusantium dolorem suscipit officia ratione quos. Itaque, ipsam, hic!</p>
		</div>
	</div>
</aside>