// -----------------------------
// Colors
// -----------------------------

// Primary Colors
$site-color__bluejeans--lighter: #5D9CEC;
$site-color__bluejeans: #4A89DC;
$site-color__aqua--lighter: #4FC1E9;
$site-color__mint: #37BC9B;
$site-color__mint--lighter: #48CFAD;

// General Colors
$site-color__body: #666;


